export ZSH=$HOME/.oh-my-zsh
export LANG="en_US.UTF-8"
export LANGUAGE="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export GPG_TTY=$(tty)
export EDITOR=vim

ZSH_THEME="ys"
DEFAULT_USER="$USER"

plugins=(git docker zsh-autosuggestions zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# Global aliases
alias app="cd /var/www"

# Docker aliases
alias dps="docker ps"
