export ZSH=$HOME/.oh-my-zsh

ZSH_THEME="ys"
DEFAULT_USER="$USER"

plugins=(git docker zsh-autosuggestions zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# Global aliases
alias app="cd /var/www"

# Docker aliases
alias dps="docker ps"
