version: '3'

services:
  reverse-proxy:
    image: traefik
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    volumes:
      - /var/www/traefik/traefik.toml:/etc/traefik/traefik.toml
      - /var/www/traefik/certs:/etc/traefik/certs
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

networks:
  web:
    external: true
