version: '3'

services:
  reverse-proxy:
    image: traefik
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    volumes:
      - ./traefik.toml:/etc/traefik/traefik.toml
      - ./acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - GANDIV5_API_KEY={{ gandi_api_key }}

networks:
  web:
    external: true
